@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
}

#presentation h1 {
  font-size: 70px;
}

#presentation div {
  width: fit-content;
  margin: auto;
}

#presentation div #acheter {
  float: right;
  color:blue
}

#presentation img {
  margin-top: 5%;
  display: block;
  margin-left: auto;
  width: 50%;
  margin-right: auto;
}