section {
  padding: 1%;
  margin-bottom: 423px;
}

section .liens {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

section .liens a, section .liens p {
  font-weight: bolder;
  padding: 1%;
}

section a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: xx-large;
  font-style: underline;
}

input[type=text] {
  margin-top: 1%;
  width: 20%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
}  

table {
  margin-top: 50px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

table th, td {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: whitesmoke;
}

table tr:nth-child(even) {
  background-color: white;
}

table .supp {
  text-decoration: none;
  color: red;
}



.idChamp {
  width:120px;
}
.Supprimer {
  width:150px;
}


/*ajout d'une nouvelle information dans la bdd*/
.ajout {
  display:flex;
  flex-direction:row;
  margin-top:5px;
  height:100px;
}

.ajout .inputnew {
  display:flex;
  width:400px;
  padding-left:5px;
  padding-top:3px;
  border-radius:5px;
  font-family:'Times New Roman', Times, serif;
  font-size:17px;
}

.ajout #Lien{
  display:flex;
  width:200px;
  padding-left:5px;
  border-radius:5px;
  margin-left:5px;
  font-family:'Times New Roman', Times, serif;
  font-size:17px;
}


.boutonModification {
  display:flex;
  padding:5px;
  margin:5px;
  background-color:rgb(192, 192, 192);
  color:black;
  font-size:17px;
  border-radius:8px;
  justify-content:center;
  height:30px;
}