@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Source sans Pro', sans-serif;
}

#logo{
  display:flex;
  width:25%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10%;
}

.espaceConnexion {
    display:flex;
    flex-direction:column;
    justify-content:center;
    border: solid 3px black;
    border-radius: 5%;

    margin-top: 4%;
    margin-bottom:9%;
    margin-left:auto;
    margin-right:auto;
    
    padding-top: 2%;
    padding-bottom:3%;
    width:28%;
}

#erreur {
  color: red;
}

.titre{
 
    display:flex;
    justify-content: center;
    margin-bottom: 4px;
    font-family: Helvetica, Arial, sans-serif;   
    font-size: 25px;
    font-weight:bold;
}

.connexion{
  display:flex;
  justify-content: center;
  margin-bottom: 0px;
  font-family: Helvetica, Arial, sans-serif;
  font-size:20px;
}

#barres{
  display:flex;
  width:95%;
  height: auto;
  margin-top:0%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:5%;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  margin: 12px 0px 20px;
  flex: 1 1 0%;
  border-top: 1px solid rgb(217, 218, 220);
}


.formulaire {
    display:flex;
    flex-wrap:auto;
    align-items:center;
}

form {
    display: flex;
    flex-direction: column;
    align-items:left;
    width: 75%;
    margin-left:auto;
    margin-right:auto;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size:15px;
}

form input {
  margin-top: 2%;
  width: 100%;
  height: 30px;
  border: 1px solid #333;
  border-radius: 5px;
  padding-left: 5px;
}

.champ{
    display:flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.boutons {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.boutonConnexion {
    display:flex;
    justify-content:center;
}

.seConnecter {
    display:flex;
    height:40px;
    width:110px;
    justify-content:center;
    font-size:15px;
    margin-top:20px;
    margin-bottom:20px;
    background-color:#2c30335e;
    border-radius: 10%;
    border-width: 0px;
}

