@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
#SpaceHolder {
    display:flex;
    flex-direction:column;
    width:100%;
}

section {
    padding: 1%;
}

#liens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#liens a {
    text-decoration: none;
    color: inherit;
}

#liens a, #liens p {
    font-weight: bolder;
    padding: 1%;
}

/*======================================Partie1=================================================================*/
#partie1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content:space-between;
    background: white;
}

.bouttontemps{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:600px;
}

#partie1 .text{
    font-size:17px;
    font-family:'Times New Roman', Times, serif;
    margin-left:5px;
    margin-right:5px;
}

.date{
    background-color:rgb(169, 169, 169);
    width:110px;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size:15px;
    padding-left:3px;
    border:0;
    height:25px;
}
.enSavoirPlus{
    background-color: rgb(169, 169, 169);
    border: 0;
    font-style: bold;
    font-size: 15px;
    width:160px;
    align-items: center;
    border-radius: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size:16px;
    height:25px;
    margin-left:8px;
}

/*=====================================Partie 2=================================================================*/
#partie2-LSV{
    display: flex;
    flex-direction: row;
}
#partie2{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 70%;
    padding-top: 25px;
    padding-bottom: 100px;
    padding-left:10px;
}

#graphique{
    margin-left: 50px;
    width:50%; 
    height:400px;
}

.icone{
    width: 50px;
    height: 50px;

} 
#pres{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding-right:50px;
    margin-left: 270px;
}

#pres p{
    padding-right: 20px;
    font-size:25px;

}

#spaceHolder p{
    font-size:x-large;
    margin-left: 20px;
    font-style: bold;
    font-family: "source sans pro";
} 
.btn{
    margin-top: 20px;
    margin-left: 280px;
    padding-top:5px;
    padding-bottom:5px;
    color: black;
    background-color: #30E87A;
    border: 0;
    border-radius: 50px;
    width: 10%;
    font-size: 17px;

}

/*Le Saviez-Vous*/

#savoir{
    display:flex;
    flex-direction:column;
    color: white;
    border:5px solid black;
    border-radius: 10px;
    background-color: black;
    width: 250px;
    height:400px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
}
#savoir h1{
    text-align: center;
}
#savoir hr{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
#savoir p{
    font-size: 17px;
}