@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

#contenu {
    display:flex;
    flex-direction:row;
    padding-top:20px;
    justify-content:space-around;
}

#espaceRecherche {
    display:flex;
    flex-direction:column;
    width:50%;
    padding-left:2px;
    padding-right:2px;   
    
}

#barreRecherche {
    width:400px;
    height : 25px;
    border-radius:5px;
    padding-left: 2px;
    margin-bottom:5px;

}

#listQuestions {
    display:flex;
    flex-direction: column;
    width:80%;
}
 
.Question {
    display:flex;
    min-height: 35px;
    border : solid grey 2px;
    border-radius:2px;
    font-weight:bold;
    font-size:20px;
    padding-top:auto;
    padding-bottom:auto;
    padding-left: 2px;

}
 
#decoImage {
    display:flex;
    flex-direction:column;
    width:40%;
    justify-content: center;
}

#casque {
    width:auto;
    height:auto;
}

/* Menu déroulant pour chaque question on click */

/*.menu1 {
  display: inline-block;
  text-decoration: none;
}
.menu2 {
  display: inline-block;
  text-decoration: none;
}
.menu3 {
  display: inline-block;
  text-decoration: none;
}
.menu4 {
  display: inline-block;
  text-decoration: none;
}
.menu5 {
  display: inline-block;
  text-decoration: none;
}*/


.QA > li {
    float: left;
    color: white;
    width: 140px;
    height: 40px;
    line-height: 39px;
    background: #2C3033;
    cursor: pointer;
    font-size: 17px;
    list-style: none;
    text-decoration: none;
    border: 2px;
  }
  .partieReponse {
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    border: 2px;
  }
  .partieReponse li {
    font-size: 14px;
    background: rgba(170, 168, 168, 0.8);
    color: rgb(0, 0, 0);
    transform: scale(0);
    transform-origin: top center;
    transition: all 300ms ease-in-out;
    list-style: none;
    text-decoration:none;
    border: 2px;
  }
  .partieReponse li:last-child { 
    border-bottom: 0;
    text-decoration : none;
    border: 2px;
  }
  .partieReponseli:checked {
    background: grey;
    text-decoration : none;
    border: 2px;
  }

  /* PARTIE MENU DÉROULANT Nb 1 */
  .menu1 > li:checked .partieReponse li {
    transform: scale(1);
    text-decoration : none;
    border: 2px;
  }
  .menu1 > li:checked .partieReponse {
    transform: scale(1);
    text-decoration : none;
    border: 2px;
  }
  
  .menu1 > .Reponse :checked{
      /*background: grey;*/
      text-decoration : none;
      border: 2px;
  }
  
  nav .menu1 a {
    text-decoration:none;
    color:white;
    border: 2px;
  }

  /* PARTIE MENU DÉROULANT Nb 2 */
  .menu2 > li:hover .partieReponse li {
    transform: scale(1);
    text-decoration : none;
  }
  .menu2 > li:hover .partieReponse {
    transform: scale(1);
    text-decoration : none;
  }
  
  .menu2 > .Reponse :hover{
      background: grey;
      text-decoration : none;
  }
  
  nav .menu2 a {
    text-decoration:none;
    color:white;
  }
  
  /* PARTIE MENU DÉROULANT Nb 3 */
  .menu3 > li:hover .partieReponse li {
    transform: scale(1);
    text-decoration : none;
  }
  .menu3 > li:hover .partieReponse {
    transform: scale(1);
    text-decoration : none;
  }
  
  .menu3 > .Reponse :hover{
      background: grey;
      text-decoration : none;
  }
  
  nav .menu3 a {
    text-decoration:none;
    color:white;
  }
  
  /* PARTIE MENU DÉROULANT Nb 4 */
  .menu4 > li:hover .partieReponse li {
    transform: scale(1);
    text-decoration : none;
  }
  .menu4 > li:hover .partieReponse {
    transform: scale(1);
    text-decoration : none;
  }
  
  .menu4 > .Reponse :hover{
      /*background: grey;*/
      text-decoration : none;
  }
  
  nav .menu4 a {
    text-decoration:none;
    color:white;
  }
  
  /* PARTIE MENU DÉROULANT Nb 5 */
  .menu5 > li:hover .partieReponse li {
    transform: scale(1);
    text-decoration : none;
  }
  .menu5 > li:hover .partieReponse {
    transform: scale(1);
    text-decoration : none;
  }
  
  .menu5 > .Reponse :hover{
      /*background: grey;*/
      text-decoration : none;
  }
  
  nav .menu5 a {
    text-decoration:none;
    color:white;
  }
