@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Source sans Pro', sans-serif;
}

#presentation {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
}

#presentation h1 {
  font-size: 70px;
}

#presentation div {
  width: fit-content;
  margin: auto;
}

#presentation div #acheter {
  float: right;
  color:blue
}

#presentation .imgCasque {
  margin-top: 5%;
  display: block;
  margin-left: auto;
  width: 50%;
  margin-right: auto;
}

#fonctions {
  display: flex;
  width: 100%;
  color: white;
  justify-content: space-between;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  

}

#fonctions .container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

#fonctions .container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


#fonctions h1 {
  font-size: 50px;
}


.container1, .container2{
  display: flex;
  flex-direction:row;
  width:100%;
  justify-content: space-between;
}


#fonctions .container1 p strong{
  color: #2bae3f;
}
#fonctions .container2 p strong{
  color: #2bae3f;
}

#fonctions .container1 div p {
  width: 100%;
  font-size: 30px; 
  margin-bottom:25px;
  
}
#fonctions .container2 div p {
  width: 100%;
  font-size: 30px;
  margin-bottom:25px; 
}

#fonctions .container1 div  {
  width:600px;
  height: 250px;
  color:white;
  margin-top:auto;
  margin-bottom:auto;
  padding-left: 75px;

}
#fonctions .container2  div  {
  width:600px;
  height: 250px;
  color:black;
  margin-top:auto;
  margin-bottom:auto;
  padding-right: 100px;
  padding-left:30px;

  }


#fonctions .container1  img{
width:500px;
min-width: 150px;
margin-top:25px;
margin-bottom:25px;
margin-right:20px;
padding:30px;
}
#fonctions .container2  img{
  width:500px;
  min-width: 150px;
  margin-top:25px;
  margin-bottom:25px;
  margin-left:20px;
  padding:30px;
  }

.container1:nth-child(odd) {
  background-color:#2C3033;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  font:white;
  height: fit-content;
  
}

.container2:nth-child(odd) {
  background-color:#ffffff;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  font: #2c3033;
  height: fit-content;

  
  
}


@media (max-width:1200px){

  #fonctions h1 {
    font-size: 45px;
    text-align: center;
  }
  

  #fonctions .container1 div p {
    width: 100%;
    margin-bottom: 50px;
    font-size: 25px; 
    
  }

  #fonctions .container2 div p {
    width: 100%;
    margin-bottom: 25px;
    font-size: 25px; 
  }
  
  #fonctions .container1 img {
    width: 100%;
    margin-top: 30px;
  }

  #fonctions .container2 img {
    width: 100%;
    margin-top: 20px;
  }
  #fonctions .container2  div {
    justify-content: center;
    padding-right:10px;

  }

  #fonctions .container1  div {
    justify-content: center;
    padding-left:10px;

  }

  #presentation .imgCasque {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
  }
}