@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

 /*Structure principale */

 .infinite h1{
    margin-top: 1cm;
    font-family: Segoe UI, 'Tahoma', Geneva, Verdana, sans-serif;
    font-size: larger;
    margin-left: 40%;
 }

 .infinites4{
    margin-top: 4cm;
 }

 .infinites4 img{
    float: left;
    width: 450px;
    height:400px;
 }


 .infinites1 img{
    float: right;
    width: 450px;
    height:400px;
 }

 .infinites2 img{
    float: left;
    width: 450px;
    height:400px;
 }
 .infinites3 img{
    float: right;
    width: 450px;
    height:400px;
 }

 .infinites4 p{
    float: right;
 }

 .infinites1 p{
    float: left;
 }

 .infinites2 p{
    float: right;
 }

 .infinites3 p{
    float: left;
 }

 .up p{
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
 }