@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

section {
    padding: 1%;
}

section .liens {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

section .liens a,section .liens p {
    font-weight: bolder;
    padding: 1%;
}

section a {
    text-decoration: none;
    color: inherit;
}

#boxenvoi {
    display:flex;
    flex-direction:column;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    margin-top:20px;

    padding-left:2%;
    padding-right:2%;

    align-items:center;
    width:800px;

}
    
.message { 
    display: flex;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    width:700px;
    height: 400px;
    border-radius:10px;
    padding:5px;
}

#boutton {
    display:flex;
    margin-left:auto;
    margin-right:auto;
    height:40px;
    width:100px;
    justify-content:center;
    font-size:15px;
    margin-top:10px;
    margin-bottom:15px;
    background-color:#30E87A;
    border-radius: 10px;
    border: solid 1px black;
    color:black;

}

#indication {
    font-style:italic;
    font-size:15px;
    margin-top: 5px;
    text-align:center,

}