
#Espace {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 50px;
  font-family: "source sans pro";
  


}

.carre_noir {
  background: black;
  width: 25%;
  color: white;
  padding: 1%;
  border-radius: 30px;
 

}

.carre_blanc {
  height: 75%;
  background: white;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: black;
  border-radius: 30px;
  padding: 2%;
  width: auto;
  margin-top: 10%;
}

.carre_blanc div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  height: 21%;
  margin-top: 2%;
}

.carre_blanc .rapport {
  margin-top: 10%;
  
}

.carre_blanc div p {
  padding-bottom: 5%;
  overflow: auto;
  
}

.bordure {
  width: 75%;
  height: 50%;
  border-radius: 30px;
  position: relative;
  top: 10px;
}

.icone {
  width: 50px;
  height: 50px;

}

.carre_noir h1 {
  color: white;
  text-decoration-line: none;
}



@media (max-width: 1200px) {
  #Espace {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 30px;
      align-items: center;
     
  }
  #Espace .carre_noir {
    width: 50%;
    margin-bottom: 50px;
}

#Espace  img{
    width: 60%;
    max-height: 60%;
}
#Espace .icone{
  width: auto;
  max-height: auto;
}
  
}

#Espace .carre_noir:hover {
  transform: scale(1.1);
  transition: 0.5s;
}